<h1>Welcome to the Gleam FAQ Test app!</h1>

<p>Currently there's not much to do here</p>

<p>You can:</p>

<ul>
  <li><%= link_to "View all the example contact data", contacts_path %></li>
  <li><%= link_to "Use the Contact form", new_contact_path %></li>
</ul>